@media (min-width: 560px) {

    .container {
        width: 100vw;
        height: 100vh;
        background-image: url('../public/images/space.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: content-box;
    }

    .mainContainer {
        width: 100vw;
        background-color: black;
    }

    .mainImage {
        width: 35rem;
        height: 35rem;
        overflow: hidden;
        position: absolute;
        left: 20vw;
        top: 10vh;
        
    }

    .mainImageCover {
        width: 45rem;
        height: 45rem;
        position: absolute;
        top: 36%;
        left: 36%;
        transform: rotate(45deg);
        z-index: 10;
        
    }
}